@{
  Layout = "_Layout";
}

@model Library.Models.Patron;

<h2>Patron Details</h2>
<hr />
<h3>@Model.PatronName</h3>

@if(@Model.Copys.Count == 0)
{
  <p>This Patron hasn't checked out any of our books.</p>
}
else
{
  <h4>Copies they checked out:</h4>
  <ul>
  @foreach(var join in Model.Copys)
  { 
    <li id="mark">
      <p>Title: @Html.ActionLink($"{ join.Copy.Books }", "Details", "Books", new { id = join.Copy.BookId })</p>
      <p>Copy Number: @Html.ActionLink($"{ join.Copy.CopyNumber }", "Index", "Copys")</p>
      <p>Due Date: @join.Copy.CopyDueDate</p>
    </li>
  }
  </ul>

}

<p>@Html.ActionLink("Add Book to list", "Index", "Copys")</p>
<p>@Html.ActionLink("Back to Patrons", "Index")</p>
<p>@Html.ActionLink("Edit Patron", "Edit", new { id = Model.PatronId })</p>
<p>@Html.ActionLink("Delete Patron", "Delete", new { id = Model.PatronId })</p>