@{
  Layout = "_Layout";
}

@model Library.Models.Patron;

<h2>Patron Details</h2>
<hr />
<h3>@Html.ActionLink($"{ Model.PatronName }", "Index", "Copys")</h3>

@if(@Model.Copys.Count == 0)
{
  <p>This book does not have any authors. Who wrote it?</p>
}
else
{
  <h4>Copys the book contains:</h4>
  <ul>
  @foreach(var join in Model.Copys)
  {
    <li id="mark">@join.Copy.CopyNumber</li>
  }
  </ul>

  @* <h4>Patron Major:</h4>
  <ul>
  @foreach(var join in Model.Checkouts)
  {
    <li id="mark">@join.Major</li>
  }
  </ul> *@
}

<p>@Html.ActionLink("Checkout Patron", "Index", "Checkouts")</p>
<p>@Html.ActionLink("Back to Patrons", "Index")</p>
<p>@Html.ActionLink("Edit Patron", "Edit", new { id = Model.PatronId })</p>
<p>@Html.ActionLink("Delete Patron", "Delete", new { id = Model.PatronId })</p>