@{
  Layout = "_Layout";
}

@model Library.Models.Author

<h4>Add a new task</h4>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.AuthorName)
    @Html.TextBoxFor(model => model.AuthorName)<br>

    @Html.Label("Select book")
    @Html.DropDownList("BookId")<br>

    <input type="submit" value="Add new Author" />
}
<p>@Html.ActionLink("Show all Authors", "Index")</p>