@{
  Layout = "_Layout";
}

@model Library.Models.Copy

<h4>Add a new task</h4>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.CopyNumber)
    @Html.TextBoxFor(model => model.CopyNumber)<br>

    @Html.LabelFor(model => model.CopyDueDate)
    @Html.TextBoxFor(model => model.CopyDueDate)<br>

    @Html.Label("Select patron")
    @Html.DropDownList("PatronId")<br>

    <input type="submit" value="Add new Author" />
}
<p>@Html.ActionLink("Show all Books", "Index")</p>