@{
  Layout = "_Layout";
}

@model Library.Models.Copy

<h2>Rent a Book!</h2>

@using (Html.BeginForm())
{
    <h4>Copy Number:
    @Html.TextBoxFor(model => model.CopyNumber)</h4><br>

    <h4>Due Date: 
    @Html.TextBoxFor(model => model.CopyDueDate)</h4><br>

    @Html.Label("Select patron")
    @Html.DropDownList("PatronId")<br>

    @Html.Label("Select book")
    @Html.DropDownList("BookId")<br>

    //Need DropDown List for books

    <input class="button" type="submit" value="Add new Copy" />
}
<p>@Html.ActionLink("Show all Books", "Index")</p>