@{
    Layout = "_Layout";
}

@using Library.Models;
@model List<Library.Models.Copy>;

<h2>Copys</h2>

@if (Model.Count == 0)
{
    <h3>No Copys have been taken yet!</h3>
}


@foreach (Copy copy in Model)
{
    //Instead of it being the Book Id I want it to be Book Name
    <li id="mark">(Should be Book Title): @Html.ActionLink($"{ copy.BookId }", "Details", "Books", new { id = copy.BookId })</li>

    <p>Copy: @Html.ActionLink($"{ copy.CopyNumber }", "Details", "Copys", new { id = copy.CopyId })</p>
    <p class="copyIndexP">Due Date: @copy.CopyDueDate</p>
            

    
}

<p>@Html.ActionLink("Take new Copy", "Create")</p>
<p>@Html.ActionLink("Back to Patrons", "Index", "Patrons")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>
