@{
    Layout = "_Layout";
}

@using Library.Models;
@model List<Library.Models.Copy>;

<h2>Copys</h2>

@if (Model.Count == 0)
{
    <h3>No Copys have been taken yet!</h3>
}


@foreach (Copy copy in Model)
{

    <li id="mark">@Html.ActionLink($"{ copy.BookId }", "Details", "Books", new { id = copy.BookId })</li>
    <p>Copy: @Html.ActionLink($"{ copy.CopyNumber }", "Details", "Copys", new { id = copy.CopyId })</p>
    <p class="copyIndexP">Due Date: @copy.CopyDueDate</p>
            
    //Need Book Name actionlink here that links back to the book that's clicked
    
}

<p>@Html.ActionLink("Take new Copy", "Create")</p>
<p>@Html.ActionLink("Back to Patrons", "Index", "Patrons")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>
