@{
    Layout = "_Layout";
}

@using Library.Models;
@model List<Library.Models.Copy>;

<h2>Copys</h2>

@if (Model.Count == 0)
{
    <h3>No Copys have been added yet!</h3>
}

@foreach (Copy copy in Model)
{
    <li>
        @Html.ActionLink($"{ copy.CopyNumber }", "Details", new { id = copy.CopyId })
    </li>
    //Need Book Name actionlink here that links back to the book that's clicked
    //@Html.ActionLink($"{ copy.Books.Book.Name }", "Details", new { id = copy.BookId })
    
    <p class="copyIndexP">Due Date: @copy.CopyDueDate</p>
}

<p>@Html.ActionLink("Take new Copy", "Create")</p>
<p>@Html.ActionLink("Back to Patrons", "Index", "Patrons")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>
